:root {
  --global-color: #c6a4ff;
  --pagination-active: #c6a4ff;
  --pagination-bg: #c0c0c070;
  --pagination-gap: 8px;
}

/* Шапка отступы */
.header {
  padding: 16px 16px 0px 16px;
}

/* Страница в размер экрана без запаса по прокрутке вниз */
.shop-mode .container {
  min-height: calc(100vh + 0px);
}

/* Скрыл картинки у подкатегорий */
body:not(.home-page) .chips-card__picture {
  display: none;
}

/* Убрал жестко заданную высоту которая была задана для картинок */
.chips-menu--type_card {
  min-height: fit-content;
}
